.leftelem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
.leftelem__login {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: #000;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  width: auto;
  padding: 0 5rem;
}
.leftelem__signup {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 0 2rem;
  letter-spacing: 0;
  color: #fff;
  background-color: #000;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  width: auto;
  margin: 2rem;
}

.Part1div__FindButton {
  color: #fff;
  background-color: #fc8019;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  height: 60px;
  line-height: 60px;
  width: 140px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.53px;
}
.Part1div__LocationBar {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 0 !important;
  padding-left: 15px !important;
  padding-right: 160px !important;
  caret-color: #fc8019;
  font-size: 18px !important;
  font-weight: 500;
  height: 100px;
}
.Part1div__Loco {
  box-shadow: grey;
  box-sizing: border-box;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 40%;
  border-color: grey;
  height: 60px;
}
.Part1div .ico {
  margin-left: -100px;
  margin-top: 20px;
  cursor: pointer;
}
.Part1div .icospan {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 60px;
}

.intro {
  position: absolute;
  right: 0;
  width: 50%;
  position: absolute;
  top: 0;
  height: 95%;
}

.Part2div {
  color: white;
  background-color: #2b1e16;
  width: 100%;
  height: 400px;
  margin-top: -20px;
}
.Part2div__block {
  padding: 30px;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.Part2div__subdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 20px;
}

.Part3Container {
  display: flex;
  flex-direction: column;
}
.Part3Container__Part3content1 {
  font-weight: bolder;
  font-family: sans-serif;
  width: 250px;
  margin: 35px;
}
.Part3Container__Part3content2 {
  font-family: sans-serif;
  width: 350px;
  color: gray;
}
.Part3Container__icons {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.Part3div {
  display: flex;
  flex-direction: row;
  margin-top: -360px;
  margin-left: 400px;
}

.Part4div {
  background-color: black;
  height: 500px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
  border-bottom: 2px solid #fff;
}
.Part4div__listed {
  justify-content: center;
}
.Part4div__icons2 {
  position: absolute;
  right: 50px;
  margin-top: -300px;
}
.Part4div li {
  padding: 10px;
}
.Part4div__icons {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.Part5div {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 8000px;
  width: 100%;
  color: white;
}

.Foot {
  border-top: 2px solid silver;
  background-color: black;
  height: 100px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PopularCity {
  padding: 20px;
  color: grey;
  width: 50%;
}

.people {
  padding: 10px;
}

.popcity {
  color: black;
  font-weight: bolder;
}

.popscreen {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-around;
}
.popscreen__overlay {
  height: 100%;
  width: 60%;
  background-color: grey;
  opacity: 0.7;
  overflow: hidden;
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
}
.popscreen__popup {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 60px;
  background-color: white;
}
.popscreen__Loco {
  height: 50px;
  width: 80%;
  border: 2px solid orange;
  padding: 20px;
}
.popscreen button {
  color: white;
  background-color: orange;
  height: 50px;
  width: 150px;
  border: none;
  font-weight: bolder;
  margin: 10px;
}

.light {
  background-color: white;
}

.dark {
  background-color: grey;
}

.h3tag {
  font-size: 20px;
  color: grey;
}

.h1tag {
  margin-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
}

.footerimg {
  height: 50px;
  width: 100px;
  margin: 30px;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  margin: 20px;
}

.themechanger {
  display: flex;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}/*# sourceMappingURL=index.css.map */