// @tailwind base;
// @tailwind components;
// @tailwind utilities;



$font1:larger;
$marginleft:50%;
$darkcolor:#2B1E16;
$display:flex;

// *{
//     margin: 0;
// }
.leftelem{
    
    display: $display;
    flex-direction: row;
    justify-content: space-between;
    width: 50%; 
    
    &__login{
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        text-align: center;
    color: #000;
    letter-spacing: 0;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    width: auto;
    padding: 0 5rem;
    
    
}  
    
        
        &__signup{
            cursor: pointer;
            display: inline-block;
            text-align: center;
            padding: 0 2rem;
            letter-spacing: 0;
            color: #fff;
            background-color: #000;
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
            font-size: 16px;
            font-weight: 600;
            height: 40px;
            line-height: 40px;
            width: auto;
            margin: 2rem;
            
        }
    }
        
    
    





.Part1div{
    height: 390px;
    &__FindButton{

        color: white;
        background-color: orange;
        height: 50px;
        width: 150px;
        border: none;
        font-weight: bolder;
        // margin-top: -100px;
    }
    &__LocationBar{
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 58px!important;
    line-height: 28px!important;
    padding-top: 0!important;
    padding-left: 15px!important;
    padding-right: 160px!important;
    caret-color: #fc8019;
    font-size: 18px!important;
    font-weight: 500;
        
           
        }
        &__Loco{
            height: 50px;
           width: 30%;
      
           }
}


.intro{
    position: absolute;
    right: 0;
    width: 50%;
    position: absolute;
    top: 0;
  
}


   



.Part2div{
    color: white;
    background-color: $darkcolor;
    width: 100%;
    height: 400px;
    &__block{
        
         padding: 30px;
         width: 300px;
         height: 250px;
         display: flex;
         flex-direction: column;
 }  
    &__subdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
     padding-right: 20px;
 }
 
    
    }

    
.Part3Container{
    display: $display;
    flex-direction: column;



    &__Part3content1{
        font-weight: bolder;
       font-family:sans-serif;
       width: 250px;
       margin: 35px;
       
       
    }
    &__Part3content2{
        font-family:sans-serif;
       width: 350px;
       color: gray;
    }

    &__icons{
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
  
}



.Part3div{
    display: flex;
    flex-direction: row;
    margin-top: -240px;
    margin-left: 400px;
    
 }

 


 .Part4div{
    background-color: black;
    height: 500px;
    width: 100%;
     color: white;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 20px;
     justify-content: space-evenly;
     &__listed{
       justify-content: center;
     }
     &__icons2{
        position: absolute;
        right: 50px;
         margin-top: -300px;
     }
     li{
        padding: 10px;
     }
     &__icons{
        display: flex;
        flex-direction: row;
        margin: 10px;
     }
 }


.Part5div{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    height: 8000px;
    
    width: 100%;
    color: white;
}
.Foot{
    border-top: 2px solid silver ;
    background-color: black;
    height: 100px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.ico{
    
     margin-left: -50px;
      margin-top: 10px;
      z-index: 1;
}



.PopularCity{
    // display: flex;
    // flex-direction: column;
    padding: 20px;
    color: grey;
    height: 150px;
    width: 50%;
}
.people{
    padding: 20px;
    
}
.popcity{
        
    color: black;
    font-weight: bolder;

}

.popscreen{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content:space-around ;

    &__overlay{
        height: 100%;
        width: 60%;
        background-color: grey;
        opacity: .7;
    overflow: hidden;
    z-index: 10000;
    position: absolute;
    top:0;
    left:0;
        
    }
    &__popup{
    // z-index: 9999;
   
    height: 100%;
    width: 40%;
    position: absolute;
    top:0;
    right: 0;  
    padding: 60px;
    background-color: white;
    

   
    }
    &__Loco{
        height: 50px;
        width: 80%;
        border: 2px solid orange;
         padding: 20px;
        
        }

   button{
    color: white;
    background-color: orange;
    height: 50px;
    width: 150px;
    border: none;
    font-weight: bolder;
    margin: 10px;
    // margin-top: -100px;
}

  
    }
.light{
    background-color: white;
}
.dark{
    background-color: grey;
}
    
