*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

//assigning variable to property
$bg-color:yellow;
$font: 70px;
$fontsm:30px;

//mixin
@mixin look{
display: flex;
flex-direction: column;
align-items: center;

}

h1{
    color: $bg-color;
    font-size: $font;
}



#colored{
   @include look;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-color:$bg-color;
    font-size: $font;
    
}
//nesting
.bodydiv{
    @include look;
    border: 2px dotted black;
    background-color: $bg-color;
    height: 200px;
    h5{
        font-size: $fontsm;

    }
    h2{
        color: red;
        font-size: $font;
        font-family: fantasy;
    }
   
}

.bodydiv{
    @media screen and (max-width:900px){
    h2{
        font-size:$fontsm
    }
}
}
header{
    @include look;
    background-color: aqua;
    a{
        background-color: $bg-color;
        text-decoration: none;
        &:hover{
            background-color: brown;
        }
    }
    button{
        font-size: $fontsm;
    }
}