*{
    margin: 0;
}


.Header{
    width: 100%;
    background-color: rgb(145, 145, 223);
    padding: 20px;
    
}
/* .Component{
    background-color: rgb(145, 145, 223);
    font-weight: bolder;  
    
} */