body{
    display: flex;
    flex-direction: row;
}

nav{
    margin :200px;
}
.people{
    border: 2px dotted black;
    
    background-color: rgb(222, 222, 222);
    padding: 30px;
    align-items: center;
    border-radius: 3px;
    margin: 10px;
}